body {
    background-color: black;
    background-image: url('fundal_cladiri.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.logo{
       height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-content: center;
}
.imagine_titlu{
display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
        padding: 10px 0;
}

@media only screen and (max-width: 425px) {
    .imagine_titlu img {
        height: 100px;
    }
}

@media only screen and (min-width: 425px) {
    .imagine_titlu img {
        height: 250px;
    }
}
@media only screen and (max-width: 425px)
{
   .logo img{
    height: 50px;
   }
}
@media only screen and (min-width: 425px) {
    .logo img {
        height: 100px;
    }
}
.logocr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .logo img {
        height: 40px;
    }
}

@media only screen and (min-width: 425px) {
    .logo img {
        height: 80px;
    }

}
.titlu {
    display: flex;
    flex-direction: column;     
    position: relative;     
    font-size: clamp(2rem, 5vw, 5rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
    margin-bottom: 10vh;
}
.titlu1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}


p2 {
    color: white;
    margin: 0;
    font-family: Unbounded;
    font-size: large;
}
p1{
    color: white;
    margin-bottom: 2%;
    font-family: Unbounded;
    font-size: large;
    padding: 0;
    margin: 0;
}

.FAQBUTTON{
   z-index: 1;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.button_jmek {
 
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #FE02A7;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 90px;
    font-weight: 1000;
    font-family: Geo;
    overflow: hidden;
    transition: 0.2s;
    
}

.button_jmek:hover{
 
    color: #03045E;
    background: #FE02A7;
    box-shadow: 0 0 10px #FE02A7, 0 0 40px
        #FE02A7, 0 0 80px
            #FE02A7;
    transition-delay: 1s;
}

.button_jmek span {
 
    position: absolute;
    display: block;
}

.button_jmek span:nth-child(1)
{
  
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FE02A7 );

}
.button_jmek:hover span:nth-child(1)
{

    left: 100%;
    transition: 1s;
}
.button_jmek span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FE02A7);

}

.button_jmek:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button_jmek span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FE02A7);

}

.button_jmek:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button_jmek span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FE02A7);

}

.button_jmek:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.promo img{
    margin: 10px 10px;
    color: #FE02A7;
}
.promo{
    height: 2vh;
        display: flex;
        justify-content: center;
   
}
hr {
    width: 0px;
    margin: 0px;
}

@media only screen and (max-width: 425px) {
    .promo img {
        height: 25px;
    }
}

@media only screen and (min-width: 425px) {
    .promo img {
        height: 50px;
    }
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #FE02A7, #0d395e);
    animation: animate 3s linear infinite;
}

@keyframes animate {

    0%,
    75% {
        filter: hue-rotate(340deg);
    }

    20%,
    100% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #FE02A7, #0d395e);
    filter: blur(10px);

}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #FE02A7, #0d395e);
    filter: blur(30px);

}
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}